.env
*.key
*.pem
*__pycache__/
.venv/
/.DS_Store
*/.DS_Store
**/.DS_Store
data/.DS_Store
diagrams/.DS_Store

data/raw/*
data/exports/*
*.parquet

!data/sample/
!data/sample/**
!data/sample/*.csv
!data/sample/.gitkeep
!data/exports/.gitkeep

streaming/output/*
!streaming/output/.gitkeep